<html>
  <head>
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="layout-nav">
      <div class="layout-link">
        <p>1</p>
      </div>
      <div class="layout-link">
        <p>2</p>
      </div>
      <div class="layout-link">
        <p>3</p>
      </div>
      <div class="layout-link">
        <p>4</p>
      </div>
      <div class="layout-link">
        <p>5</p>
      </div>
    </div>
    <div class="layout">
      <header class="header"><p class="label">Header</p></header>
      <nav class="nav"><p class="label">Nav</p></nav>
      <article class="article"><p class="label">Article</p></article>
      <aside class="ads"><p class="label">Ads</p></aside>
      <footer class="footer"><p class="label">Footer</p></footer>
    </div>
  </body>
</html>
